{% extends "layout.html.twig" %}
{% set welcome = 'Welcome to iWorkPHP!' %}
{% set title = welcome %}
{% block body %}

        <h1>{{ welcome }}</h1>
        <p>You can explore our examples</p>
        <p><a href="{{ path('text_page') }}">simple plain text</a></p>
        <p><a href="{{ path('hello_page', 'World') }}">hello world</a></p>
        <p><a href="{{ path('twig_page') }}">custom extensions for Twig</a></p>
        <p><a href="{{ path('index_page') }}not_exist">error 404</a></p>

{% endblock %}